* text=auto
*.py text eol=lf
*.qml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.nsi text eol=lf
*.ps1 text eol=lf
*.spec text eol=lf
*.txt text eol=lf
*.png binary
*.ico binary
*.pth binary
*.exe binary
packaging/third-party-licenses/** -whitespace
